{:up ["INSERT INTO users_edge
       (from_node,                  to_node,                    type,                value) VALUES

       ('team_1_supreme_commander', 'team_1_player_1',          'send_limit',        '1')
      ,('team_1_supreme_commander', 'team_1_player_2',          'send_limit',        '1')

      ,('team_1_player_1',          'team_1_supreme_commander', 'send_limit',        '1')
      ,('team_1_player_1',          'team_1_player_2',          'shared_send_limit', '1')

      ,('team_1_player_2',          'team_1_supreme_commander', 'send_limit',        '1')
      ,('team_1_player_2',          'team_1_player_1',          'shared_send_limit', '1')


      ,('team_2_supreme_commander', 'team_2_player_1',          'send_limit',        '1')
      ,('team_2_supreme_commander', 'team_2_player_2',          'send_limit',        '1')
      ,('team_2_supreme_commander', 'team_2_player_3',          'send_limit',        '1')
      ,('team_2_supreme_commander', 'team_2_player_4',          'send_limit',        '1')

      ,('team_2_player_1',          'team_2_supreme_commander', 'send_limit',        '1')
      ,('team_2_player_1',          'team_2_player_2',          'shared_send_limit', '1')
      ,('team_2_player_1',          'team_2_player_3',          'shared_send_limit', '1')
      ,('team_2_player_1',          'team_2_player_4',          'shared_send_limit', '1')

      ,('team_2_player_2',          'team_2_supreme_commander', 'send_limit',        '1')
      ,('team_2_player_2',          'team_2_player_1',          'shared_send_limit', '1')
      ,('team_2_player_2',          'team_2_player_3',          'shared_send_limit', '1')
      ,('team_2_player_2',          'team_2_player_4',          'shared_send_limit', '1')

      ,('team_2_player_3',          'team_2_supreme_commander', 'send_limit',        '1')
      ,('team_2_player_3',          'team_2_player_1',          'shared_send_limit', '1')
      ,('team_2_player_3',          'team_2_player_2',          'shared_send_limit', '1')
      ,('team_2_player_3',          'team_2_player_4',          'shared_send_limit', '1')

      ,('team_2_player_4',          'team_2_supreme_commander', 'send_limit',        '1')
      ,('team_2_player_4',          'team_2_player_1',          'shared_send_limit', '1')
      ,('team_2_player_4',          'team_2_player_2',          'shared_send_limit', '1')
      ,('team_2_player_4',          'team_2_player_3',          'shared_send_limit', '1')


      ,('team_3_supreme_commander', 'team_3_player_1',          'send_limit',        '1')
      ,('team_3_supreme_commander', 'team_3_player_2',          'send_limit',        '1')

      ,('team_3_player_1',          'team_3_supreme_commander', 'send_limit',        '1')
      ,('team_3_player_1',          'team_3_player_2',          'shared_send_limit', '1')

      ,('team_3_player_2',          'team_3_supreme_commander', 'send_limit',        '1')
      ,('team_3_player_2',          'team_3_player_1',          'shared_send_limit', '1');"]
 :down [""]}
