{:up ["INSERT INTO users_edge
       (ref,              from_node,         to_node,                    type,                           value) VALUES

       ('duplicate_000',  null,              'team_1_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_000',  'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_000',  null,              'team_1_supreme_commander', 'rule_consequence',             null)
      ,('capture_000',    null,              'team_1_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_000',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_000',    'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('regular_000',    null,              'team_1_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_000',    null,              'team_1_supreme_commander', 'rule_consequence',             null)

      ,('duplicate_001',  null,              'team_1_player_1',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_001',  'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_001',  null,              'team_1_player_1',          'rule_consequence',             null)
      ,('capture_001',    null,              'team_1_player_1',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_001',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_001',    'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('regular_001',    null,              'team_1_player_1',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_001',    null,              'team_1_player_1',          'rule_consequence',             null)

      ,('duplicate_002',  null,              'team_1_player_2',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_002',  'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_002',  null,              'team_1_player_2',          'rule_consequence',             null)
      ,('capture_002',    null,              'team_1_player_2',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_002',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_002',    'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('regular_002',    null,              'team_1_player_2',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_002',    null,              'team_1_player_2',          'rule_consequence',             null)


      ,('duplicate_100',  null,              'team_2_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_100',  'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_100',  'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_100',  null,              'team_2_supreme_commander', 'rule_consequence',             null)
      ,('capture_100',    null,              'team_2_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_100',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_100',    'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('capture_100',    'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('regular_100',    null,              'team_2_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_100',    null,              'team_2_supreme_commander', 'rule_consequence',             null)

      ,('duplicate_101',  null,              'team_2_player_1',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_101',  'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_101',  'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_101',  null,              'team_2_player_1',          'rule_consequence',             null)
      ,('capture_101',    null,              'team_2_player_1',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_101',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_101',    'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('capture_101',    'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('regular_101',    null,              'team_2_player_1',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_101',    null,              'team_2_player_1',          'rule_consequence',             null)

      ,('duplicate_102',  null,              'team_2_player_2',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_102',  'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_102',  'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_102',  null,              'team_2_player_2',          'rule_consequence',             null)
      ,('capture_102',    null,              'team_2_player_2',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_102',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_102',    'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('capture_102',    'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('regular_102',    null,              'team_2_player_2',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_102',    null,              'team_2_player_2',          'rule_consequence',             null)

      ,('duplicate_103',  null,              'team_2_player_3',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_103',  'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_103',  'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_103',  null,              'team_2_player_3',          'rule_consequence',             null)
      ,('capture_103',    null,              'team_2_player_3',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_103',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_103',    'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('capture_103',    'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('regular_103',    null,              'team_2_player_3',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_103',    null,              'team_2_player_3',          'rule_consequence',             null)

      ,('duplicate_104',  null,              'team_2_player_4',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_104',  'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_104',  'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_104',  null,              'team_2_player_4',          'rule_consequence',             null)
      ,('capture_104',    null,              'team_2_player_4',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_104',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_104',    'captured_1',      'team_1_supreme_commander', 'rule_duplication',             null)
      ,('capture_104',    'captured_3',      'team_3_supreme_commander', 'rule_duplication',             null)
      ,('regular_104',    null,              'team_2_player_4',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_104',    null,              'team_2_player_4',          'rule_consequence',             null)


      ,('duplicate_200',  null,              'team_3_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_200',  'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_200',  null,              'team_3_supreme_commander', 'rule_consequence',             null)
      ,('capture_200',    null,              'team_3_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_200',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_200',    'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('regular_200',    null,              'team_3_supreme_commander', 'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_200',    null,              'team_3_supreme_commander', 'rule_consequence',             null)

      ,('duplicate_201',  null,              'team_3_player_1',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_201',  'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_201',  null,              'team_3_player_1',          'rule_consequence',             null)
      ,('capture_201',    null,              'team_3_player_1',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_201',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_201',    'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('regular_201',    null,              'team_3_player_1',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_201',    null,              'team_3_player_1',          'rule_consequence',             null)

      ,('duplicate_202',  null,              'team_3_player_2',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('duplicate_202',  'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('duplicate_202',  null,              'team_3_player_2',          'rule_consequence',             null)
      ,('capture_202',    null,              'team_3_player_2',          'rule_if_six_sided_dice_fuzzy', '0.167')
      ,('capture_202',    null,              'captured_meta',            'rule_consequence',             null)
      ,('capture_202',    'captured_2',      'team_2_supreme_commander', 'rule_duplication',             null)
      ,('regular_202',    null,              'team_3_player_2',          'rule_if_six_sided_dice_fuzzy', '1')
      ,('regular_202',    null,              'team_3_player_2',          'rule_consequence',             null);"]
 :down [""]}
