{:up ["CREATE TABLE users (username varchar(254) PRIMARY KEY,
                           name varchar(254),
                           password text,
                           deleted boolean default false,
                           created timestamp default NOW(),
                           updated timestamp default NOW(),
                           version integer default 0);"]
 :down [""]}
