{:up ["ALTER TABLE users ADD PRIMARY KEY (id);"
      "ALTER TABLE users ALTER id SET DEFAULT nextval('users_seq');"]
 :down ["ALTER TABLE users DROP CONSTRAINT IF EXISTS users_pkey;"
        "ALTER TABLE users ALTER id DROP DEFAULT;"]}