{:up ["CREATE TABLE turn (id serial primary key,
                          name varchar(255),
                          ordering integer default 0,
                          deleted boolean default false,
                          created timestamp default NOW(),
                          updated timestamp default NOW(),
                          version integer default 0);"]
 :down [""]}
