{:up ["CREATE TABLE RoomGroup (id bigserial PRIMARY KEY,
                               Room_id bigint,
                               name varchar(1000),
                               parent integer,
                               created timestamp default NOW(),
                               updated timestamp default NOW(),
                               version integer default 0,
                               deleted boolean default false,
                               FOREIGN KEY(Room_id) REFERENCES Room(id),
                               FOREIGN KEY(parent) REFERENCES RoomGroup(id),
                               UNIQUE(Room_id, name));"]
 :down ["DROP TABLE RoomGroup;"]}