{:up ["CREATE TABLE Participant (id text PRIMARY KEY default uuid_generate_v1mc(),
                               Room_id text,
                               name varchar(200),
                               username varchar(200),
                               created timestamp default NOW(),
                               updated timestamp default NOW(),
                               version integer default 0,
                               deleted boolean default false,
                               FOREIGN KEY(Room_id) REFERENCES Room(id),
                               FOREIGN KEY(username) REFERENCES users(username),
                               UNIQUE(Room_id, name));"]
 :down [""]}
