{:up ["CREATE TABLE Participant (id bigserial PRIMARY KEY,
                               Room_id bigint,
                               name varchar(1000),
                               users_id bigint,
                               created timestamp default NOW(),
                               updated timestamp default NOW(),
                               version integer default 0,
                               deleted boolean default false,
                               FOREIGN KEY(Room_id) REFERENCES Room(id),
                               FOREIGN KEY(users_id) REFERENCES users(id),
                               UNIQUE(Room_id, name));"]
 :down ["DROP TABLE Participant;"]}
