{:up ["CREATE TABLE message (sender varchar(255) references users(username),
                             recipient varchar(255) references users(username),
                             actual_recipient varchar(255) references users(username),
                             message text,
                             time integer references time(id),
                             deleted boolean default false,
                             created timestamp default NOW(),
                             updated timestamp default NOW(),
                             version integer default 0);"]
 :down [""]}
