{:up ["CREATE TABLE Time(Room_name varchar(1000),
                         name varchar(1000),
                         sequence_order integer NOT NULL,
                         created timestamp default NOW(),
                         updated timestamp default NOW(),
                         version integer default 0,
                         deleted boolean default false,
                         PRIMARY KEY(Room_name, name),
                         FOREIGN KEY (Room_name) REFERENCES Room(name));"]
 :down ["DROP TABLE Time;"]}