{:up ["CREATE TABLE Time(id bigserial PRIMARY KEY,
                         Room_id bigint,
                         name varchar(1000),
                         sequence_order integer NOT NULL,
                         created timestamp default NOW(),
                         updated timestamp default NOW(),
                         version integer default 0,
                         deleted boolean default false,
                         UNIQUE(Room_id, name),
                         FOREIGN KEY (Room_id) REFERENCES Room(id));"]
 :down ["DROP TABLE Time;"]}