{:up ["CREATE TABLE DirectedConnection (id bigserial PRIMARY KEY,
                                        origin bigint NOT NULL,
                                        recipient bigint,
                                        parent bigint,
                                        Time_id bigint,
                                        created timestamp default NOW(),
                                        updated timestamp default NOW(),
                                        version integer default 0,
                                        deleted boolean default false,
                                        FOREIGN KEY (origin) REFERENCES RoomGroup(id),
                                        FOREIGN KEY (recipient) REFERENCES RoomGroup(id),
                                        FOREIGN KEY (parent) REFERENCES DirectedConnection(id),
                                        FOREIGN KEY (Time_id) REFERENCES Time(id),
                                        UNIQUE(origin, recipient, parent, Time_id));"]
 :down ["DROP TABLE DirectedConnection;"]}