{:up ["CREATE TABLE Message (id bigserial PRIMARY KEY,
                             sender_Roomgroup_id bigint,
                             intended_recipient_Roomgroup_id bigint,
                             actual_recipient_Roomgroup_id bigint,
                             body text,
                             Room_id bigint,
                             Time_id bigint,
                             created timestamp default NOW(),
                             updated timestamp default NOW(),
                             version integer default 0,
                             deleted boolean default false,
                             FOREIGN KEY (Room_id) REFERENCES Room(id),
                             FOREIGN KEY (Time_id) REFERENCES Time(id),
                             FOREIGN KEY (sender_Roomgroup_id) REFERENCES RoomGroup(id),
                             FOREIGN KEY (intended_recipient_Roomgroup_id) REFERENCES RoomGroup(id),
                             FOREIGN KEY (actual_recipient_Roomgroup_id) REFERENCES RoomGroup(id));"]
 :down ["DROP TABLE Message;"]}